/*Reset and Variables*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --first-color: #2196f3;
    --second-color: #e63946;
}
/* Body Content */
.content {
    height: calc( 100% - 100px );
    padding: 2em;
    overflow-y: scroll;
  }

/* Footer */
#footer {
    background-color: var(--first-color);
}

.ancore-footer {
    color: #fff;
    text-decoration: none;
}